.banner{
    height: 150px;
    background-color: #00b9c7;
    display: flex;
    align-items: center;
    background-image: url(../../public/ambassadeur.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    margin-bottom: 60px;

}
.siteContent h3{
	font-size:22px;	
	margin-bottom: 1rem;
}
.siteContent li{
	margin-bottom: 0.3rem;
}
.siteContent a{
	text-decoration:none;
	color:black;
}
.siteContent{
	display: flex;
	justify-content: space-around;
	margin-bottom:2rem;
	margin-top: 2rem;
}
.container{
    max-width: 777px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.pageTitleContent{
    padding-left:40px;
	padding-right:40px;
}
.pageTitleContent h1{
    color: #ffffff;
    font-size: 29px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 992px){
    .banner {
        background-position: center right -480px;
        background-size: cover;
    }
	.pageTitleContent{
		padding-left:25px;
		padding-right:25px;
	}
	.pageTitleContent h1{
    	font-size: 25px;
   	}
    .companyInfo{
        display:block!important;
        max-width: 714px!important;
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media only screen and (min-width: 993px) and (max-width: 1199px){
    .banner {
        background-position: center right -256px;
    }
}
@media only screen and (max-width: 767px){
    .banner {
        background-image: none !important;
    }
}

.pageTitleContent p{
    color:#ffffff;
}

@media only screen and (min-width: 1200px){
  .container {
    max-width: 1200px!important;
  }
}
.container p{
    color: #5d5d5d;
}
.container img{
    border: none;
    max-width: 100%;
    height: auto;
}
.ldTitle{
    text-align: center;
    margin-bottom: 40px;
}
.ldTitle h2{
    font-size: 42px;
    font-weight: 500;
    line-height: 1.6;
}
.ldTitle p{
    font-size: 18px;
    line-height: 1.6;
    max-width: 583px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.featuresItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 50px!important;
}

.featuresItem p {
    font-size: 17px;
    line-height: 1.44;
    max-width: 470px;
}
.featuresItem h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 25px;
}
.featuresItem h3 span {
    color: #23d3d3;
}
.featuresItem .featuresThumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    order: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 100px;
}
.featuresThumb img{
    border: none;
    max-width: 100%;
    height: auto;
}
.featuresItem:nth-child(2n-1) .featuresInfo {
    order: 1;
}
.featuresItem:nth-child(2n-1) .featuresThumb {
    order: 2;
    padding-right: 0;
    padding-left: 100px;
}
@media only screen and (max-width: 575px){
	.pageTitleContent{
		padding-left:15px;
		padding-right:15px;
	}
    .featuresItem {
        flex-wrap: wrap;
    }
    .featuresItem .featuresThumb, .featuresItem .featuresInfo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .featuresItem:nth-child(2n-1) .featuresThumb {
        order: 1;
        padding-left: 0px;
    }
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #01b9c7;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}
.containerLoader {
  justify-content: center;
  display: flex;
}
