.banner{
    height: 150px;
    background-color: #00b9c7;
    display: flex;
    align-items: center;
    background-image: url(../../public/presse.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    margin-bottom: 60px;

}
.ldTitle{
    text-align: center;
    margin-bottom: 40px;
}
.ldTitle h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}
.pageTitleContent{
    padding-left:40px;
	padding-right:40px;
}
@media only screen and (max-width: 992px){
    .banner {
        background-position: center right -480px;
        background-size: cover;
    }
	.pageTitleContent{
		padding-left:25px;
		padding-right:25px;
	}
    .companyInfo{
        display:block!important;
        max-width: 714px!important;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1199px){
    .banner {
        background-position: center right -256px;
    }
}
@media only screen and (max-width: 767px){
    .banner {
        background-image: none !important;
    }
}

@media only screen and (max-width: 575px){ 
	.pageTitleContent{
		padding-left:15px;
		padding-right:15px;
	}
    .featuresItem{
        flex-wrap: wrap;
    }  
    .featuresInfo{
        flex: 0 0 100%!important;
        max-width: 100%!important;
        padding-right: 0;
    }
	.ldTitle h2{
		font-size: 1.4rem;	
	}
	
}

.pageTitleContent h1{
    color: #ffffff;
    font-size: 29px;
    margin-bottom: 5px;
}
.pageTitleContent p{
    color:#ffffff;
}
.imgBoxInner{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 60px;
}
.circlebox{
    display: flex;
}
.topImagePress{
    width: 19%;
    height: 14rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/circle.png);
    background-repeat: none;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;

}
.topImagePress p{
    font-size:30px;
    color:white;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .topImagePress{
        width: 20%;
        height: 10rem
    }
    .topImagePress p{
        font-size:20px;
    }
}

@media screen and (max-width: 475px) {
    .topImagePress{
        width: 17%;
        height: 16vh;
    }
}

@media screen and (max-width: 600px) {
    .topImagePress{
        width: 15%;
        height: 16vh;
    }
    .topImagePress p{
        font-size:15px;
    }
}
 
@media screen and (max-width:750px) {
    .topImagePress{
        width: 8rem;
    height: 8rem;
    }
    .topImagePress p{
        font-size:15px;
    }
}
@media screen and (max-width: 410px) {
    .topImagePress{
        width: 6rem;
        height: 6rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .topImagePress p{
        font-size:15px;
    }
} 
.container{
    max-width: 777px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (min-width: 1200px){
  .container {
    max-width: 1200px!important;
  }
}
.featuresItem{
    display: flex;
    align-items: center;
    margin-bottom: 50px!important;
}
.featuresItem p{
    font-size: 17px;
    line-height: 1.44;
    max-width: 470px;
}
.featuresInfo{
    flex: 0 0 50%;
    max-width: 50%;
}


.imgBoxInnerPartner{
    margin-top:60px;
    margin-bottom: 80px;
}
.containerPartner{
    display: flex;
    justify-content: space-around;
}
.containerPartner img{
    width: 20.33%;
}

.newsFeeds{
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    border: 2px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin:auto auto 32px auto;
    padding: 0px;
    position: relative;
    width: 96%;
    
}
.article{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    padding: 24px;
    transition: all 0.1s ease-in-out 0s;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.effet{
    border-radius: 999999px;
    display: inline-block;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.25px;
    background-color: rgb(230, 230, 230);
    color: rgb(26, 26, 26);
    white-space: nowrap;
}

